.root {
}

.tenure {
  text-anchor: end;
  cursor: pointer;
}

.tenure:hover {
  text-shadow: 0 0 20px var(--color);
}

.tenureName:hover {
}

.tenureRoles {
  font-size: 0.9em;
  font-style: italic;
}
